#filephp {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:300px;
}
#filehtml {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:285px;
}
#filejava {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:293px;
}
#filesql {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:300px;
}
#filelarp {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:290px;
}

