#contenu {
  text-align:justify;
  margin-top: 300px;
  margin-right: 960px ;
 
}

#nom {
  text-align:justify;
  margin-top: 0px;
  margin-right: 400px ;
}

#filephp {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:300px;
    
}
#filehtml {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:285px;
}
#filejava {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:293px;
}
#filesql {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:300px;
}
#filelarp {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:290px;
}
#filelinux {
    padding-right: 100px;
    font-size: 1rem;
    margin-left:280px;
}


html {
    background: linear-gradient(105deg, #97949433 39%, rgba(152, 157, 158, 0.459) 96%) center   / 1500px 1100px no-repeat,
    url() center no-repeat, rgb(254, 255, 254);
    background-attachment:fixed;
    display: block;
    margin: auto; 
    position: absolute;
margin-right: 10px;
width : 1900px;
height: 200px;

  }
  
  h2 {
    margin-left:800px;
    margin-top: 100px;
    text-align:justify;
  }
  h2 {
    margin-left:900px;
    margin-top: 100px;
    text-align:justify;
  }
  h3 {
    margin-left:230px;
    margin-bottom:20px;
    text-align:justify;  
  }
  h4{
    margin-left:220px;
    margin-bottom:20px;
    font-size: large;
    text-align:justify;  }
    p{
    margin-left:220px;
    margin-bottom:20px;
    font-size: large;
    text-align:justify; 
    }

    #bdd{
      margin-top:10px;
      margin-left:-15px;
    }
    
    .tableau{
      margin-right: 200px;
    }
  
    #pres{
      margin-top : 100px;
    }
 
    
  #see {
    background-color: #c7b4b4; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 205px;
  }
  #DL {
    background-color: #c7c2c2; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px;
    margin-right: 30px; 
     
      }
      #bouton_Projet {
        background-color: #c7c2c2; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px 10px 10px 10px;
        margin-left: 600px; 
         
          }
  a.nounderline:link 
{ 
 text-decoration:none; 
} 

    #fit-picture{

      position: absolute;
top: -10px;
margin-right: 10px;
width : 1900px;
height: 270px;
}

#projet{
  text-align:justify;
  margin-top: 300px;
  
}

#merise {
  
  width: 547px;
  height: 326px;
 
}

#MLD {
  margin-left: 800px;
}
 
#I2{
  margin-left: 570px; 
}

#veille {
  margin-right : 30px;

}



/* menu de projet:*/
:root{
  --hauteur-menu: 60px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}
nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}
 
nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}
nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}



.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}
nav > ul > li:hover > a{
  color: #2169EC;
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
  color: white;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}
@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}
.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}
nav li {
  list-style-type: none ;       /* Suppression des puces */
}


.row {
  margin-top : 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.indentation{
  text-indent: 20px;
  text-align: justify;
  margin-right: 10px;
  margin-left: 10px;
}

.indentation-list{
  text-indent: 60px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}
.indentation-list-contact{
  text-indent: 60px;
  text-align: justify;
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 100px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12vw;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 24px;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.font-w-600 {
  font-weight:600;
  margin-top: 200px;
}

.font-alt {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500px ;
} 
.center-text {
  margin:auto;
}
.titre-page{
  background-position: top;
  background-image: url(image/pro3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 105%;
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  margin-bottom: 10px;
}
.responsive {
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 105%;
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  margin-bottom: 10px;
}
.sous-titre{
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  margin-bottom: 50px;
}
.color-theme {
	color: #552c1f;	
}
.color-white {color:#FFF}
.color-black{color:black}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: "SFMono-Regular",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
.col-md-12{
  margin-top :200px;
  margin-left: 200px;
  position:static;
  width:100%;
  min-height:1px;
  padding-right:15px;
  padding-left:15px
 }
.col-md-6{
  margin-top :200px;
  margin-left: 200px;
  position:static;
  width:100%;
  min-height:1px;
  padding-right:15px;
  padding-left:15px
 }


 /* Image */

 .image {
  display: inline-block;
  outline: 0;
}

  .image img {
    display: block;
    width: 100%;
  }

  .image.centered {
    display: block;
    margin: 0 0 2em 0;
  }

    .image.centered img {
      margin: 0 auto;
      width: auto;
    }

  .image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
  }

  .image.left {
    float: left;
    margin: 0 2em 2em 0;
  }


  	/* Box */

    .box footer ul.actions li {
      margin: 1em 0 0 0;
      display: block;
    }

      .box footer ul.actions li .button {
        width: 100%;
      }

      .box footer ul.actions li:first-child {
        margin-top: 0;
      }
/*container*/
      .container {
        width:100%;
        padding-right:15px;
        padding-left:15px;
        margin-right:auto;
        margin-left:auto
       }
       .container-doc{
        margin-left: 25px;
        margin-right: 25px;
       }
       .container-main {
        margin-bottom: 10px;
      }       
      .conteneur{
        margin-top: 60px;
      }
      footer {
        padding: 10px 20px;
        background: #ffffff;
        color: white;
      }




      .button-57 {
        position: relative;
        overflow: hidden;
        border: 1px solid #18181a;
        color: #18181a;
        display: inline-block;
        font-size: 15px;
        line-height: 15px;
        padding: 18px 18px 17px;
        text-decoration: none;
        cursor: pointer;
        background: #868e9644 ;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        border-radius: 10px 10px 10px 10px;


      }
      
      .button-57 span:first-child {
        position: relative;
        transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
        z-index: 10;
      }
      
      .button-57 span:last-child {
        color: rgb(0, 0, 0);
        display: block;
        position: absolute;
        bottom: 0;
        transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
        z-index: 100;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translateY(225%) translateX(-50%);
        height: 14px;
        line-height: 13px;
      }
      
      .button-57:after {
        content: "";
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #c7c2c2;
        transform-origin: bottom center;
        transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
        transform: skewY(9.3deg) scaleY(0);
        z-index: 50;
      }
      
      .button-57:hover:after {
        transform-origin: bottom center;
        transform: skewY(9.3deg) scaleY(2);
      }
      
      .button-57:hover span:last-child {
        transform: translateX(-50%) translateY(-100%);
        opacity: 1;
        transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
      }

      .button-48 {
        appearance: none;
        background-color: #97949433;
        border-width: 0;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 1em;
        margin: 0;
        opacity: 1;
        outline: 0;
        padding: 1.5em 2.2em;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-rendering: geometricprecision;
        text-transform: uppercase;
        transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        white-space: nowrap;
        border-radius: 10px 10px 10px 10px;
        margin-left: 600px; 
      }
      
      .button-48:before {
        animation: opacityFallbackOut .5s step-end forwards;
        backface-visibility: hidden;
        background-color: #c7c2c2;
        clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateZ(0);
        transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
        width: 100%;
        border-radius: 10px 10px 10px 10px;

      }
      
      .button-48:hover:before {
        animation: opacityFallbackIn 0s step-start forwards;
        clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
      }
      
      .button-48:after {
        background-color: #FFFFFF;
        border-radius: 10px 10px 10px 10px;

      }
      
      .button-48 span {
        z-index: 1;
        position: relative;
      }


      .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

      btn-social {
        height: 2.5rem;
        width: 2.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 100%;
    }
